@use './variables' as *;
@use './mixins' as *;

/* Headings */
.heading {
    font-family: $ff-secondary;
    font-weight: 900;
    text-transform: uppercase;
    color: $c-black;

    &--xl {
        font-size: clamp(3.75rem, 2.727rem + 4.364vw, 6rem);
        line-height: 1.09;

        @include breakpoint('md') {
            line-height: 0.916;
        }
    }

    &--l {
        font-size: clamp(3.125rem, 2.557rem + 2.424vw, 4.375rem);
        line-height: 0.9;

        @include breakpoint('lg') {
            line-height: 1;
        }
    }

    &--m {
        font-size: clamp(3.125rem, 2.841rem + 1.212vw, 3.75rem);
        line-height: 0.9;

        @include breakpoint('lg') {
            line-height: 1;
        }
    }

    &--s {
        font-size: clamp(2rem, 1.886rem + 0.485vw, 2.25rem);
        line-height: 1;
    }

    &--white {
        color: $c-white;
    }

    &--yellow {
        color: $c-yellow-sand;
    }
}

/* Body text */
.text {
    color: $c-black-light;
    font-weight: 300;

    &--m {
        font-size: clamp(1.125rem, 0.679rem + 0.928vw, 1.375rem);
        line-height: 1.55;

        @include breakpoint('lg') {
            line-height: 1.45;
        }
    }

    &--s {
        font-size: clamp(1rem, 0.943rem + 0.242vw, 1.125rem);
        line-height: 1.625;

        @include breakpoint('lg') {
            line-height: 1.55;
        }
    }

    &--white {
        color: $c-white;
    }

    &--black {
        color: $c-black;
    }
}

/* Screen readers only! */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* Skip to content link */
.skip-to-content {
    position: fixed;
    top: 2rem;
    left: 0;
    padding: 1.5rem 5rem;
    transform: translateX(-200%);
    background: $c-white;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 5px;
    text-decoration: none;
    outline: 3px dashed $c-yellow-sand;
    transition: transform 350ms ease-in-out;
    z-index: 999;

    &:focus-visible {
        transform: translateX(0);
    }
}